*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.App {
  background-color: #fafafa;
  padding-bottom: 41px;
}

.appContainer {
  width: 100%;
  max-width: 1224px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
